body {
    background-color: #202632;
    font-family: 'StratosWeb';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
}

p {
    font-family: 'StratosWeb';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 2rem;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #53FFAB;
    position: fixed;
    top:16rem;
}

.container {
    color: #D9D9D9;
    position: fixed;
    padding-bottom: 8rem;
    text-wrap:wrap;
    width: 25rem;
    line-height: 1.8rem;
}

.box {
    position: fixed;
    width: 540px;
    height: 335px;
    left: 450px;
    top: 222px;
    padding-top: 3rem;
    background: #313A49;
    border-radius: 20px;
}


#bar {
    position: fixed;
    padding-top: 3rem;
}

#fetchButton {
    background-color: #53FFAB;
    border: none;
    display: contents;


}

#button-randomizer {
    background-color: #53FFAB;
    margin: 10px;
    


}

.background-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background-color: #53FFAB;
    border-radius: 50%;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonPosition{
    position: fixed;
    padding-top: 12rem;
}